#chat-app
  background #FFFFFF;0

  .login-page
    background-color #FFD600;

  .chat-room-page
    .chat-messages-container
      height calc(100vh - 50px - 65px);
      overflow auto;
      background #eeeeee;

    .chat-message-input
      margin: 10px 0;
      margin-right 15px;

      .chat-text-input
        height 45px;
