#chat-app
  background #FFFFFF;0

  .login-page
    background-color #FFD600;

  .chat-room-page
    .chat-messages-container
      background #eeeeee;
      position: absolute;
      top 50px;
      left 0;
      right 0;
      bottom 75px;
      overflow-x scroll;

    .chat-message-input
      position absolute;
      left 0;
      right 0;
      bottom 0px;
      margin 10px 0;
      margin-right 15px;

      .chat-text-input
        height 45px;
