#chat-app
  .chat-wrapper
    height 600px;

  .chat-room--wrapper
    height 100%;

    &.chat-room .chat-room--input
      padding 0 !important;

    .chat-room--toolbar
      background-color: #ff8f00;
      border-color: #ff8f00;

    .chat-room--messages
      height calc(100vh - 12.5rem);
      background-color #EEEEEE;


  .login-page
    background-color #FFD600;

